*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body { font-family: arial, sans-serif; } /* Cambria, Georgia, serif; */
h1:empty { display: none; }
hr,
.hr {
	border: 0;
	border-top: 1px solid #000;
	height: 0;
	margin: 1em 0;
	padding: 0;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	    -ms-box-sizing: content-box;
	        box-sizing: content-box;
}
.sh1,
.sh2,
.sh3,
.sh4,
.sh5,
.sh6 { font-weight: normal; }
.marker {
	font-size: 1.2em;
	font-weight: normal;
	text-transform: none;
	margin: 1em 0;
	padding: 0;
}
.marker div { overflow: hidden; }
.marker a,
.marker span {
	letter-spacing: .03em;
	margin-left: .05em;
	padding: .8em .7em;
	float: left;
}
.marker :first-child { margin-left: 0; }
.marker span {
	color: #806900;
	background: #e6bc00;
}
.marker a {
	background: #ffd100;
	text-decoration: none;
}
.marker a,
.marker a:visited { color: #997d00; }
.marker a:visited:hover,
.marker a:focus,
.marker a:focus:hover,
.marker a:hover,
.marker a:active {
	color: #997d00;
	background: #ffe880;
}
.subtle {
	font-size: 1.2em;
	line-height: 1.3;
	font-family: monospace, serif;
	font-weight: normal;
	color: #cca700;
	margin: 1em 0;
}
.marker code,
.subtle code {
	font-size: inherit;
	color: inherit;
	font-family: monospace, serif;
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
}