<!doctype html>
<html lang="en" dir="ltr">

<head>
	
	<meta charset="utf-8">
	
	<meta http-equiv="x-ua-compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	
	<title></title>
	<meta property="og:title" content="">
	
	<meta name="description" content="">
	<meta property="og:description" content="">
	
	<meta name="keywords" content="">
	
	<meta property="og:site_name" content="">
	<meta property="og:type" content="website">
	<!--<meta property="og:type" content="article">-->
	<!--<meta property="article:section" content="">-->
	
	<meta property="og:image" content="apple-touch-icon-precomposed.png">
	<link rel="image_src" href="apple-touch-icon-precomposed.png">
	
	<meta http-equiv="date" content="Saturday, 03 2008 23:59:29 GMT">
	<!--<meta property="article:published_time" content="2008-05-03T23:59:29-07:00">-->
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="mky.io">
	<meta name="handheldfriendly" content="true">
	
	<meta name="msapplication-tileimage" content="apple-touch-icon-precomposed.png">
	<meta name="msapplication-navbutton-color" content="#333333">
	<meta name="msapplication-tilecolor" content="#ffffff">
	<meta name="msapplication-tooltip" content="mky.io">
	<meta name="msapplication-starturl" content="?pinned=true">
	<meta name="msapplication-tap-highlight" content="no">
	
	<meta name="google-site-verification" content="">
	<meta name="msvalidate.01" content="">
	
	<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	
	<link rel="stylesheet" href="roots.css">
	
	<link rel="sitemap" type="application/xml" title="Sitemap" href="">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="">
	<link rel="alternate" type="application/atom+xml" title="Atom" href="">
	<link rel="pingback" href="">
	
	<!--<meta name="robots" content="noindex">-->
	<meta name="robots" content="index">
	
	<meta property="og:url" content="">
	<link rel="canonical" href="">
	
</head>
<body itemscope itemtype="http://schema.org/WebPage">
	
	<header role="banner">
		
		<h6 id="flag" class="marker"><div><a href="#flag">“Flag”</a></div></h6>
		
		<h1><a href="#">Li Europan lingues</a></h1>
		
	</header>
	
	<hr>
	
	<nav role="navigation">
		
		<h6 id="nav" class="marker"><div><a href="#nav"><code>nav</code></a></div></h6>
		
		<ul
			><li><a href="#">Lorem</a></li
			><li><a href="#">Ipsum</a></li
			><li><a href="#">Dolor</a></li
			><li><a href="#">Sit</a></li
			><li><a href="#">Amet</a></li
			><li><a href="#">Lorem</a></li
			><li><a class="selected" href="#">Selected</a></li
			><li><a href="#">Ipsum</a></li
			><li><a href="#">Dolor</a></li
			><li><a href="#">Sit</a></li
			><li><a href="#">Ipsum Dolor</a></li
			><li><a href="#">Amet</a></li
		></ul>
		
	</nav>
	
	<hr>
	
	<aside role="complementary">
		
		<section>
			
			<h6 id="search" class="marker"><div><a href="#search">Search</a></div></h6>
			
			<h1></h1>
			
			<form class="form" method="get" action="http://www.google.com/search" role="search">
				
				<input type="hidden" name="sitesearch" value="foo.com">
				
				<label>
					<span class="off">Search:</span>
					<input type="search" name="q" placeholder="Search …" autocomplete="on">
				</label>
				
			</form>
			
		</section>
		
	</aside>
	
	<hr>
	
	<main role="main">
		
		<section>
			
			<h6 id="h1-h6" class="marker"><div><a href="#h1-h6"><code>h1</code> - <code>h6</code></a></div></h6>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h1</code> (long words)</h6>
				
				<header>
					
					<hgroup>
						<h1>Thequickbrownfox hxy jumpsoverthelazydog hxy</h1>
						<h1><a href="#">Thequickbrownfox hxy jumpsoverthelazydog hxy &amp; link</a></h1>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h2</code></h6>
				
				<header>
					
					<hgroup>
						<h2>The quick brown fox hxy jumps over the lazy dog hxy</h2>
						<h2><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h2>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h3</code></h6>
				
				<header>
					
					<hgroup>
						<h3>The quick brown fox hxy jumps over the lazy dog hxy</h3>
						<h3><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h3>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h4</code></h6>
				
				<header>
					
					<hgroup>
						<h4>The quick brown fox hxy jumps over the lazy dog hxy</h4>
						<h4><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h4>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h5</code></h6>
				
				<header>
					
					<hgroup>
						<h5>The quick brown fox hxy jumps over the lazy dog hxy</h5>
						<h5><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h5>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h6</code></h6>
				
				<header>
					
					<hgroup>
						<h6>The quick brown fox hxy jumps over the lazy dog hxy</h6>
						<h6><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h6>
					</hgroup>
					
				</header>
				
			</article>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="sh1-sh6" class="marker"><div><a href="#sh1-sh6"><code>.sh1</code> - <code>.sh6</code></a></div></h6>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h1</code> + <code>.sh1</code> (long words)</h6>
				
				<header>
					
					<hgroup>
						<h1 class="sh1">Thequickbrownfox hxy jumpsoverthelazydog hxy</h1>
						<h1 class="sh1"><a href="#">Thequickbrownfox hxy jumpsoverthelazydog hxy &amp; link</a></h1>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h2</code> + <code>.sh2</code></h6>
				
				<header>
					
					<hgroup>
						<h2 class="sh2">The quick brown fox hxy jumps over the lazy dog hxy</h2>
						<h2 class="sh2"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h2>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h3</code> + <code>.sh3</code></h6>
				
				<header>
					
					<hgroup>
						<h3 class="sh3">The quick brown fox hxy jumps over the lazy dog hxy</h3>
						<h3 class="sh3"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h3>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h4</code> + <code>.sh4</code></h6>
				
				<header>
					
					<hgroup>
						<h4 class="sh4">The quick brown fox hxy jumps over the lazy dog hxy</h4>
						<h4 class="sh4"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h4>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h5</code> + <code>.sh5</code></h6>
				
				<header>
					
					<hgroup>
						<h5 class="sh5">The quick brown fox hxy jumps over the lazy dog hxy</h5>
						<h5 class="sh5"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h5>
					</hgroup>
					
				</header>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>h6</code> + <code>.sh6</code></h6>
				
				<header>
					
					<hgroup>
						<h6 class="sh6">The quick brown fox hxy jumps over the lazy dog hxy</h6>
						<h6 class="sh6"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h6>
					</hgroup>
					
				</header>
				
			</article>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="h1-h6-sh1-sh6-p" class="marker"><div><a href="#h1-h6-sh1-sh6-p"><code>h1</code> - <code>h6</code> + <code>.sh1</code> - <code>.sh6</code> + <code>p</code></a></div></h6>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>.h1</code> + <code>.sh1</code> + <code>p</code></h6>
				
				<header>
					
					<hgroup>
						<h1 class="h1"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
						<h2 class="sh1">The quick brown fox hxy jumps over the lazy dog hxy</h2>
					</hgroup>
					
				</header>
				
				<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>.h2</code> + <code>.sh2</code> + <code>p</code></h6>
				
				<header>
					
					<hgroup>
						<h1 class="h2"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
						<h2 class="sh2">The quick brown fox hxy jumps over the lazy dog hxy</h2>
					</hgroup>
					
				</header>
				
				<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>.h3</code> + <code>.sh3</code> + <code>p</code></h6>
				
				<header>
					
					<hgroup>
						<h1 class="h3"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
						<h2 class="sh3">The quick brown fox hxy jumps over the lazy dog hxy</h2>
					</hgroup>
					
				</header>
				
				<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>.h4</code> + <code>.sh4</code> + <code>p</code></h6>
				
				<header>
					
					<hgroup>
						<h1 class="h4"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
						<h2 class="sh4">The quick brown fox hxy jumps over the lazy dog hxy</h2>
					</hgroup>
					
				</header>
				
				<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>.h5</code> + <code>.sh5</code> + <code>p</code></h6>
				
				<header>
					
					<hgroup>
						<h1 class="h5"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
						<h2 class="sh5">The quick brown fox hxy jumps over the lazy dog hxy</h2>
					</hgroup>
					
				</header>
				
				<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
				
			</article>
			
			<hr>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<h6 class="subtle"><code>.h6</code> + <code>.sh6</code> + <code>p</code></h6>
				
				<header>
					
					<hgroup>
						<h1 class="h6"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
						<h2 class="sh6">The quick brown fox hxy jumps over the lazy dog hxy</h2>
					</hgroup>
					
				</header>
				
				<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
				
			</article>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="address" class="marker"><div><a href="#address"><code>address</code></a></div></h6>
			
			<address>
				<a href="#">Jane Poe</a>,
				<a href="#">Robert Roe</a>,
				<a href="#">Mark Moe</a>,
				<a href="#">Brett Boe</a>,
				<a href="#">Carla Coe</a>,
				<a href="#">Donna Doe</a>,
				<a href="#">Juan Doe</a>,
				<a href="#">Frank Foe</a>,
				<a href="#">Grace Goe</a>,
				<a href="#">Harry Hoe</a>,
				<a href="#">Jackie Joe</a>,
				<a href="#">Karren Koe</a>,
				<a href="#">Larry Loe</a>,
				<a href="#">Marta Moe</a>,
				<a href="#">Norma Noe</a>,
				<a href="#">Paula Poe</a>,
				<a href="#">Quintin Qoe</a>,
				<a href="#">Ralph Roe</a>,
				<a href="#">Sammy Soe</a>,
				<a href="#">Tommy Toe</a>,
				<a href="#">Vince Voe</a>,
				<a href="#">William Woe</a>,
				<a href="#">Xerxes Xoe</a>,
				<a href="#">Yvonne Yoe</a>,
				<a href="#">Zachary Zoe</a>
				and <a href="#">John Smith</a>.
			</address>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="blockquote" class="marker"><div><a href="#blockquote"><code>blockquote</code></a></div></h6>
			
			<h6 class="subtle">No <code>p</code></h6>
			
			<blockquote>
				
				Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
				
			</blockquote>
			
			<h6 class="subtle">With <code>p</code></h6>
			
			<blockquote>
				
				<p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
				
			</blockquote>
			
			<h6 class="subtle"><code>p</code> + <code>footer</code></h6>
			
			<blockquote>
				
				<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
				
				<p>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
				
				<footer>&mdash; Li Europan lingues</footer>
				
			</blockquote>
			
			<h6 class="subtle"><code>p</code> + <code>footer</code> + <code>p</code></h6>
			
			<blockquote>
				
				<p>The European languages are members of the same family.</p>
				
				<footer>
					
					<p>&mdash; <cite><a href="#">Li Europan lingues</a></cite>, English</p>
					
				</footer>
				
			</blockquote>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="dl-dt-dd" class="marker"><div><a href="#dl-dt-dd"><code>dl</code> + <code>dt</code> + <code>dd</code></a></div></h6>
			
			<dl>
				<dt><a href="#">Li Europan lingues es membres del sam familie.</a></dt>
					<dd>Lor separat existentie es un myth.</dd>
					<dd>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</dd>
					<dd>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</dd>
				<dt>At solmen va esser necessi far uniform grammatica.</dt>
					<dd>Li nov lingua franca va esser plu simplic.</dd>
					<dd>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</dd>
					<dd>Omnicos directe al desirabilite.</dd>
				<dt>Li Europan lingues es membres del sam familie.</dt>
					<dd>Omnicos directe al desirabilite de un nov lingua franca.</dd>
					<dd>On refusa continuar payar custosi traductores.</dd>
					<dd>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</dd>
			</dl>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="figure" class="marker"><div><a href="#figure"><code>figure</code></a></div></h6>
			
			<figure>
				
				<img src=".jpg" width="1000" alt="Li Europan lingues">
				
				<figcaption>Omnicos directe al desirabilite de un nov lingua.</figcaption>
				
			</figure>
			
			<figure>
				
				<a href="#"><img src=".jpg" width="1200" alt="Li Europan lingues"></a>
				
				<figcaption><b>Omnicos directe al desirabilite de un nov lingua franca:</b> On refusa continuar payar custosi traductores.</figcaption>
				
			</figure>
			
			<figure>
				
				<a href="#"><img src=".jpg" alt="Li Europan lingues"></a>
				
				<figcaption>
					
					<p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
					
					<p>Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
					
					<p>Li nov <a href="#">lingua franca</a> va esser plu simplic e regulari quam li existent <a href="#">Europan lingues</a>. It va esser tam simplic quam Occidental in fact, it va esser <a href="#">Occidental</a>.</p>
					
				</figcaption>
				
			</figure>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="hr" class="marker"><div><a href="#hr"><code>hr</code></a></div></h6>
			
			<h6 class="subtle"><code>hr</code></h6>
			
			<hr>
			
			<h6 class="subtle"><code>.hr</code></h6>
			
			<div class="hr"></div>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="p" class="marker"><div><a href="#p"><code>p</code></a></div></h6>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.</p>
				
				<p>Ma quande <a href="#">lingues coalesce</a>, li grammatica del <a href="#">resultant lingue</a> es plu simplic e <a href="#">regulari quam</a> ti del coalescent lingues. Li <a href="#">nov lingua</a> franca va esser plu <a href="#">simplic</a> e <a href="#">regulari</a> quam <a href="#">li</a> existent <a href="#">Europan lingues</a>.</p>
				
				<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
				
				<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
				
				<p>It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie.</p>
				
				<p>Lor <code>separat</code> existentie <code>es</code> un <code>myth</code>. Por <code>scientie</code>, musica, <code>sport</code> etc, <code>litot</code> Europa <code>usa</code> li <code>sam</code> vocabular. <code>Li</code> lingues <code>differe</code> solmen <code>in</code> li <code>grammatica</code>, li <code>pronunciation</code> e <code>li</code> plu <code>commun</code> vocabules.</p>
				
				<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
				
			</article>
			
			<hr>
			
			<h6 class="subtle">Article <code>.body</code></h6>
			
			<article itemscope itemtype="http://schema.org/Article">
				
				<div class="body" itemprop="articleBody">
					
					<p>Ma quande <a href="#">lingues coalesce</a>, li grammatica del <a href="#">resultant lingue</a> es plu simplic e <a href="#">regulari quam</a> ti del coalescent lingues. Li <a href="#">nov lingua</a> franca va esser plu <a href="#">simplic</a> e <a href="#">regulari</a> quam <a href="#">li</a> existent <a href="#">Europan lingues</a>.</p>
					
					<hr>
					
					<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
					
					<h1>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h1>
					
					<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
					
					<h2>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h2>
					
					<p>It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie.</p>
					
					<h3>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h3>
					
					<p>Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
					
					<h4>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h4>
					
					<p>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
					
					<h5>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h5>
					
					<p>Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
					
					<h6>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h6>
					
					<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
					
					<p>Lor <code>separat</code> existentie <code>es</code> un <code>myth</code>. Por <code>scientie</code>, musica, <code>sport</code> etc, <code>litot</code> Europa <code>usa</code> li <code>sam</code> vocabular. <code>Li</code> lingues <code>differe</code> solmen <code>in</code> li <code>grammatica</code>, li <code>pronunciation</code> e <code>li</code> plu <code>commun</code> vocabules.</p>
					
					<div class="hr"></div>
					
					<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
					
				</div> <!-- /.body -->
				
				<h6 class="subtle"><code>footer</code> “meta”</h6>
				
				<footer>
					
					<p class="meta">This entry was posted in <a href="#">Categoy Label</a> and tagged <a href="#">tag</a>, <a href="#">tag</a>, <a href="#">tag</a> on <a href="#">November 6, 2013</a>. Bookmark the <a href="#">permalink</a> or copy the short url: <a href="http://bit.ly/1bxGJsf">http://bit.ly/1bxGJsf</a></p>
					
					<ul class="meta">
						<li>This entry was posted in <a href="#">Categoy Label</a> and tagged <a href="#">tag</a>, <a href="#">tag</a>, <a href="#">tag</a> on <a href="#"><time pubdate datetime="2013-12-26T14:33:45-08:00" itemprop="datePublished"><!--2:33 p.m., -->Nov. 6, 2013</time></a>.</li>
						<li>Bookmark the <a href="#">permalink</a>.</li>
						<li>Copy the short url: <a href="http://bit.ly/1bxGJsf">http://bit.ly/1bxGJsf</a></li>
					</ul>
					
				</footer>
				
				<hr>
				
				<section>
					
					<h6 id="colors" class="marker"><div><a href="#sharing">Sharing</a></div></h6>
					
					<p>
						
						<a title="Tweet this" href="https://twitter.com/intent/tweet?text=YOUR-TITLE&amp;url=YOUR-URL&amp;via=TWITTER-HANDLE" target="_blank" rel="nofollow">Tweet this</a>
						<a title="Share on Facebook" href="http://www.facebook.com/sharer/sharer.php?u=YOUR-URL" target="_blank" rel="nofollow">Share on Facebook</a>
						<a title="Plus on Google+" href="https://plus.google.com/share?url=YOUR-URL" target="_blank" rel="nofollow">Plus on Google+</a>
						<a title="Share on LinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=YOUR-URL&amp;title=YOUR-TITLE&amp;summary=YOUR-SUMMARY&amp;source=YOUR-URL" target="_blank" rel="nofollow">Share on LinkedIn</a>
						<a title="Pin on Pinterest" href="http://pinterest.com/pin/create/button/?url=YOUR-URL&amp;description=YOUR-DESCRIPTION&amp;media=YOUR-IMAGE-SRC" target="_blank" rel="nofollow">Pin on Pinterest</a>
						<a title="Share on VK" href="https://vk.com/share.php?url=YOUR-URL&amp;title=YOUR-TITLE&amp;description=YOUR-DESCRIPTION&amp;image=YOUR-IMAGE-SRC&amp;noparse=true" target="_blank" rel="nofollow">Share on VK</a>
						<a title="Share on Xing" href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url=YOUR-URL" target="_blank" rel="nofollow">Share on Xing</a>
						<a title="Share on Tumblr" href="http://www.tumblr.com/share?v=3&amp;u=YOUR-URL&amp;t=YOUR-TITLE" target="_blank" rel="nofollow">Share on Tumblr</a>
						<a title="Send via e-mail" href="mailto:EMAIL_RECIPIENT?subject=EMAIL_SUBJECT&amp;body=EMAIL_BODY" target="_blank" rel="nofollow">Send via e-mail</a>
						
					</p>
					
				</section>
				
				<hr class="off">
				
				<section id="comments">
					
					<h1></h1>
					
					<div id="disqus">
						
						<p class="callout callout-warning callout-box">
							<i class="fa fa-exclamation-circle" aria-hidden="true"></i> The owner of this site doesn't necessarily condone the comments here, nor do they review every post.
							<br>
							<b><a href="http://help.disqus.com/customer/portal/topics/215154/articles" target="_blank">Not seeing your comment</a></b>? Disqus users, <b><a href="http://help.disqus.com/customer/portal/articles/960202-verifying-your-disqus-account" target="_blank">have you verified your account</a></b>?
						</p>
						
						<div id="disqus_thread" class="x6" data-disqus='{"shortname" : "mhulse", "url" : "http://git.local/mhulse/picard/dev/"}'></div>
						
					</div>
					
				</section>
				
			</article>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="pre" class="marker"><div><a href="#pre"><code>pre</code></a></div></h6>
			
			<h6 class="subtle">Default</h6>

<pre class="pre">
<span class="prompt">$</span> sudo find / -name Xcode
<span class="prompt">$</span> grep -i error /etc/php.ini
<span class="prompt">$</span> env
<span class="prompt">$</span> ps<span class="cursor">_</span>
</pre>

<pre class="pre terminal">
<span class="prompt">$</span> sudo find / -name Xcode
<span class="prompt">$</span> grep -i error /etc/php.ini
<span class="prompt">$</span> env
<span class="prompt">$</span> ps<span class="cursor">_</span>
</pre>

			<h6 class="subtle">"Terminal"</h6>

<pre class="pre terminal">
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~ 
</pre>

<pre class="pre terminal">
0.5138707 0.1757256 0.3086337 0.5345317 0.9476302 0.1717277 0.7022309 0.2264168 0.4947661 0.1246986
0.0838954 0.3896298 0.2772301 0.3680532 0.9834590 0.5353862 0.7656789 0.6464736 0.7671438 0.7802362
0.8229621 0.1519211 0.6254769 0.3146764 0.3469039 0.9172033 0.5197607 0.4011658 0.6067690 0.7854244
</pre>

<pre class="pre terminal">
<code>var</code> li = europan.lingues({
	lingua  : ['desirabilite', 'necessi'],
	payar   : 'grammatica',
	simplic : function() { directe.refusa('Li Europan lingues es membres del sam familie.'); },
	esser   : 'On refusa continuar payar custosi traductores.'
});
</pre>

			<h6 class="subtle">Pygments</h6>

<div class="pygments x6"><table class="pygtable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10</pre></div></td><td><div class="pyg"><pre><span class="nc">.off</span> <span class="p">{</span>
<span class="k">    border</span><span class="o">:</span> <span class="m">0</span><span class="p">;</span>
<span class="k">    clip</span><span class="o">:</span> <span class="n">rect</span><span class="p">(</span><span class="m">0</span> <span class="m">0</span> <span class="m">0</span> <span class="m">0</span><span class="p">);</span>
<span class="hll">    <span class="k">height</span><span class="o">:</span> <span class="m">1px</span><span class="p">;</span>
</span><span class="hll">    <span class="k">margin</span><span class="o">:</span> <span class="m">-1px</span><span class="p">;</span>
</span><span class="hll">    <span class="k">overflow</span><span class="o">:</span> <span class="k">hidden</span><span class="p">;</span>
</span><span class="hll">    <span class="k">padding</span><span class="o">:</span> <span class="m">0</span><span class="p">;</span>
</span><span class="hll">    <span class="k">position</span><span class="o">:</span> <span class="k">absolute</span><span class="p">;</span>
</span>    <span class="k">width</span><span class="o">:</span> <span class="m">1px</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</td></tr></table></div>

			
			<h6 class="subtle">Gist</h6>
			
			<div class="x6"><script src="https://gist.github.com/mhulse/6003668.js?file=.bashrc"></script></div>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="ol" class="marker"><div><a href="#ol"><code>ol</code></a></div></h6>
			
			<ol class="li1">
				<li><a href="#">Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</a></li>
				<li>Lor separat existentie es un myth.</li>
				<li>Li Europan lingues es membres del sam familie.</li>
				<li>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</li>
				<li>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
				<li>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</li>
				<li>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</li>
				<li>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</li>
				<li> It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
				<li>On refusa continuar payar custosi traductores.</li>
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
			</ol>
			
			<hr>
			
			<ol class="li1">
				<li>Li Europan lingues es membres del sam familie.</li>
				
				
				<li><img width="250" src="./images/junk/picard2.jpg"></li>
				
				
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
			</ol>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="ul" class="marker"><div><a href="#ul"><code>ul</code></a></div></h6>
			
			<ul class="li2">
				<li><a href="#">Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</a></li>
				<li>Lor separat existentie es un myth.</li>
				<li>Li Europan lingues es membres del sam familie.</li>
				<li>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</li>
				<li>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
				<li>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</li>
				<li>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</li>
				<li>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</li>
				<li> It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
				<li>On refusa continuar payar custosi traductores.</li>
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
			</ul>
			
			<hr>
			
			<ul class="li2">
				<li>Lor separat existentie es un myth.</li>
				
				
				<li>Li Europan <img width="150" src="./images/junk/picard3.jpg"> lingues es membres del sam familie. Lor separat existentie es un myth.</li>
				
				
				<li>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</li>
			</ul>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="a" class="marker"><div><a href="#a"><code>a</code></a></div></h6>
			
			<p><a href="#">At solmen va esser necessi far uniform grammatica</a>, pronunciation e <a href="#">plu sommun paroles</a>.</p>
			
			<p>Li Europan <a href="#">lingues es membres</a> del sam familie.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="abbr" class="marker"><div><a href="#abbr"><code>abbr</code></a></div></h6>
			
			<p>A un Angleso it va <abbr title="Mister">semblar</abbr> un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="bdi" class="marker"><div><a href="#bdi"><code>bdi</code></a></div></h6>
			
			<p><bdi>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</bdi></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="bdo" class="marker"><div><a href="#bdo"><code>bdo</code></a></div></h6>
			
			<p><bdo dir="rtl">It va esser tam simplic quam Occidental in fact, it va esser Occidental.</bdo></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="cite" class="marker"><div><a href="#cite"><code>cite</code></a></div></h6>
			
			<p>Li lingues differe solmen in li grammatica, <cite><a href="#">li pronunciation</a></cite> e li plu commun vocabules.</p>
			
			<p>My favourite movie is <cite>Rustlers' Rhapsody</cite> by Hugh Wilson.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="code" class="marker"><div><a href="#code"><code>code</code></a></div></h6>
			
			<p>Omnicos <code>directe al desirabilite</code> de un nov <code>lingua franca</code>: On refusa <code>continuar payar custosi</code> traductores.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="data" class="marker"><div><a href="#data"><code>data</code></a></div></h6>
			
			<ul>
				<li><data value="1234567890"><a href="#">Li Europan lingues.</a></data></li>
				<li><data value="1234567890"><a href="#">Lor separat existentie es un myth.</a></data></li>
				<li><data value="1234567890"><a href="#">It va esser tam simplic quam Occidental in fact, it va esser Occidental.</a></data></li>
			</ul>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="dfn" class="marker"><div><a href="#dfn"><code>dfn</code></a></div></h6>
			
			<p>Li <dfn id="european"><abbr title="European">Europan</abbr></dfn> lingues es membres del sam familie. Lor separat existentie es un myth.</p>
			
			<p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
			
			<p>Li nov lingua franca va esser plu simplic e regulari quam li existent <a href="#european"><abbr title="European">Europan</abbr></a> lingues.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="em-i" class="marker"><div><a href="#em-i"><code>em</code> + <code>i</code></a></div></h6>
			
			<p><em>Ma</em> <i>quande</i> <em>lingues</em> <i>coalesce</i>, <em>li</em> <i>grammatica</i> <em>del</em> <i>resultant</i> <em>lingue</em> <i>es</i> <em>plu</em> <i>simplic</i> <em>e</em> <i>regulari</i> <em>quam</em> <i>ti</i> <em>del</em> <i>coalescent</i> <em>lingues</em>. <i>Li</i> <em>nov</em> <i>lingua</i> <em>franca</em> <i>va</i> <em>esser</em> <i>plu</i> <em>simplic</em> <i>e</i> <em>regulari</em> <i>quam</i> <em>li</em> <i>existent</i> <em>Europan</em> <i>lingues</i>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="kbd" class="marker"><div><a href="#kbd"><code>kbd</code></a></div></h6>
			
			<p>
				<kbd>`</kbd><wbr><kbd>1</kbd><wbr><kbd>2</kbd><wbr><kbd>3</kbd><wbr><kbd>4</kbd><wbr><kbd>5</kbd><wbr><kbd>6</kbd><wbr><kbd>7</kbd><wbr><kbd>8</kbd><wbr><kbd>9</kbd><wbr><kbd>0</kbd><wbr><kbd>-</kbd><wbr><kbd>=</kbd><wbr><kbd>Bkspc</kbd>
				<br>
				<kbd>Tab</kbd><wbr><kbd>q</kbd><wbr><kbd>w</kbd><wbr><kbd>e</kbd><wbr><kbd>r</kbd><wbr><kbd>t</kbd><wbr><kbd>y</kbd><wbr><kbd>u</kbd><wbr><kbd>i</kbd><wbr><kbd>o</kbd><wbr><kbd>p</kbd><wbr><kbd>[</kbd><wbr><kbd>]</kbd><wbr><kbd>\</kbd>
				<br>
				<kbd>Caps</kbd><wbr><kbd>a</kbd><wbr><kbd>s</kbd><wbr><kbd>d</kbd><wbr><kbd>f</kbd><wbr><kbd>g</kbd><wbr><kbd>h</kbd><wbr><kbd>j</kbd><wbr><kbd>k</kbd><wbr><kbd>l</kbd><wbr><kbd>;</kbd><wbr><kbd>'</kbd><wbr><kbd>Enter</kbd>
				<br>
				<kbd>Shift</kbd><wbr><kbd>z</kbd><wbr><kbd>x</kbd><wbr><kbd>c</kbd><wbr><kbd>v</kbd><wbr><kbd>b</kbd><wbr><kbd>n</kbd><wbr><kbd>m</kbd><wbr><kbd>,</kbd><wbr><kbd>.</kbd><wbr><kbd>/</kbd><wbr><kbd>Shift</kbd>
			</p>
			
			<p>Li nov <kbd>CTRL</kbd>+<kbd>F5</kbd> lingua franca va esser plu simplic <kbd><kbd>Shift</kbd> + <kbd>F3</kbd></kbd> e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
			
			<p><kbd><kbd>A</kbd> + <kbd>B</kbd> + <kbd>C</kbd> + <kbd>D</kbd> + <kbd>E</kbd> + <kbd>F</kbd> + <kbd>G</kbd> + <kbd>H</kbd> + <kbd>I</kbd> + <kbd>J</kbd> + <kbd>K</kbd> + <kbd>L</kbd> + <kbd>M</kbd> + <kbd>N</kbd> + <kbd>O</kbd> + <kbd>P</kbd> + <kbd>Q</kbd> + <kbd>R</kbd> + <kbd>S</kbd> + <kbd>T</kbd> + <kbd>U</kbd> + <kbd>V</kbd> + <kbd>W</kbd> + <kbd>X</kbd> + <kbd>Y</kbd> and <kbd>Z</kbd>!</kbd></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="mark" class="marker"><div><a href="#mark"><code>mark</code></a></div></h6>
			
			<p>Li <mark>lingues</mark> differe <mark>solmen</mark> in <mark>li</mark> grammatica, <mark>li</mark> pronunciation <mark>e</mark> li <mark>plu</mark> commun <mark>vocabules</mark>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="q" class="marker"><div><a href="#q"><code>q</code></a></div></h6>
			
			<p>Lor <q>separat</q> existentie <q>es</q> un <q>myth</q>.</p>
			
			<p>Omnicos directe al desirabilite de un nov lingua franca: <q>On refusa continuar payar custosi traductores.</q></p>
			
			<p><q>A <q>un <q>Angleso <q>it <q>va <q>semblar <q>un <q>simplificat <q>Angles, <q>quam <q>un <q>skeptic <q>Cambridge <q>amico <q>dit <q>me <q>que <q>Occidental <q>es. <q>Li <q>Europan <q>lingues <q>es <q>membres <q>del <q>sam <q>familie. <q>Lor <q>separat existentie</q> es</q> un</q> myth</q>. Por</q> scientie</q>, musica</q>, sport</q> etc</q>, litot</q> Europa</q> usa</q> li</q> sam</q> vocabular</q>. Li</q> lingues</q> differe</q> solmen</q> in</q> li</q> grammatica</q>, li</q> pronunciation</q> e</q> li</q> plu</q> commun</q> vocabules.</q></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="ruby-rp-rt" class="marker"><div><a href="#ruby-rp-rt"><code>ruby</code> + <code>rp</code> + <code>rt</code></a></div></h6>
			
			<p><ruby>攻殻<rp>（</rp><rt>こうかく</rt><rp>）</rp>機動隊<rp>（</rp><rt>きどうたい</rt><rp>）</rp></ruby></p>
			
			<p><ruby><ruby>攻<rp>（</rp><rt>こう</rt><rp>）</rp>殻<rp>（</rp><rt>かく</rt><rp>）</rp>機<rp>（</rp><rt>き</rt><rp>）</rp>動<rp>（</rp><rt>どう</rt><rp>）</rp>隊<rp>（</rp><rt>たい</rt><rp>）</rp></ruby><rp>（</rp><rt>Li Europan lingues</rt><rp>）</rp></ruby></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="s" class="marker"><div><a href="#s"><code>s</code></a></div></h6>
			
			<p><s>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</s></p>
			
			<p>At solmen va esser necessi far uniform grammatica, <s>pronunciation e plu sommun paroles</s>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="samp" class="marker"><div><a href="#samp"><code>samp</code></a></div></h6>
			
			<p>Li <samp>Europan lingues</samp> es membres del sam familie. Lor <samp>separat existentie</samp> es un myth. Por scientie, musica, sport etc, <samp>litot Europa usa li sam vocabular</samp>. Li lingues differe solmen in li grammatica, <samp>li pronunciation e li plu commun vocabules</samp>.</p>
			
			<p><samp>Por scientie, musica, sport etc, litot Europa usa li sam vocabular</samp>. Li lingues differe solmen in li grammatica, <samp>li pronunciation e li plu commun vocabules</samp>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="small" class="marker"><div><a href="#small"><code>small</code></a></div></h6>
			
			<p><small> It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</small></p>
			
			<p><span class="small">At solmen va esser</span> necessi far uniform grammatica, <span class="small">pronunciation e plu sommun paroles</span>.</p>
			
			<p class="small">Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="strong-b" class="marker"><div><a href="#strong-b"><code>strong</code> + <code>b</code></a></div></h6>
			
			<p><strong>At solmen va esser necessi</strong> far <b>uniform grammatica</b>, pronunciation e <strong>plu sommun paroles</strong>. Ma <b>quande lingues coalesce</b>, li grammatica del <strong>resultant lingue es plu simplic e regulari</strong> quam ti del <b>coalescent lingues</b>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="sub-sup" class="marker"><div><a href="#sub-sup"><code>sub</code> + <code>sup</code></a></div></h6>
			
			<p>Omnico<sup>s</sup> direct<sub>e</sub> a<sup>l</sup> desirabilit<sub>e</sub> d<sup>e</sup> u<sub>n</sub> n<sup>o</sup>v l<sub>i</sub>ngua fr<sup>a</sup>nca: O<sub>n</sub> ref<sup>u</sup>sa contin<sub>u</sub>ar pa<sup>y</sup>ar c<sub>u</sub>stosi <sup>t</sup>raductores.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="time" class="marker"><div><a href="#time"><code>time</code></a></div></h6>
			
			<p>At solmen va esser necessi far uniform grammatica, <time datetime="2013-09-30T10:00-10:30">pronunciation e plu sommun paroles</time>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="u" class="marker"><div><a href="#u"><code>u</code></a></div></h6>
			
			<p>Omnicos <u>directe al desirabilite de un nov lingua</u> franca: On <u>refusa continuar payar</u> custosi traductores. At <u>solmen va esser necessi</u> far uniform grammatica, <u>pronunciation e plu sommun paroles</u>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="var" class="marker"><div><a href="#var"><code>var</code></a></div></h6>
			
			<p><var>Omnicos</var> directe <var>al</var> desirabilite <var>de</var> un <var>nov</var> lingua <var>franca</var>: On <var>refusa</var> continuar <var>payar</var> custosi <var>traductores</var>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="wbr" class="marker"><div><a href="#wbr"><code>wbr</code></a></div></h6>
			
			<p><code>LiEuropanlingues<wbr>esmembresdelsam<wbr>familie.</code></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="del-ins" class="marker"><div><a href="#del-ins"><code>del</code> + <code>ins</code></a></div></h6>
			
			<p><del>Omnicos</del> <ins>directe</ins> al <del>desirabilite</del> de un nov <ins>lingua</ins> franca: On <del datetime="2013-09-30T10:00-08:00">refusa</del> <ins datetime="2013-09-30T10:00-08:00">continuar</ins> payar custosi traductores. At solmen va esser necessi far <del>uniform grammatica</del><ins>, pronunciation e plu sommun paroles</ins>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="table-children" class="marker"><div><a href="#table-children"><code>table</code> + children</a></div></h6>
			
			<div class="x6 scroll">
				<table>
					<caption>Li Europan lingues es membres del sam familie.</caption>
					<thead>
						<tr>
							<th scope="col">Europan</th>
							<th scope="col">Omnicos</th>
							<th scope="col">Occidental</th>
							<th scope="col">Cambridge</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4">Lor separat existentie es un myth.</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<th scope="row">Pronunciation e plu</th>
							<td>On refusa continuar payar</td>
							<td>Occidental in fact</td>
							<td>On refusa continuar payar</td>
						</tr>
						<tr>
							<th scope="row">Grammatica</th>
							<td>It va esser tam simplic</td>
							<td></td>
							<td>Lor separat existentie</td>
						</tr>
						<tr>
							<th scope="row">Simplic e regulari</th>
							<td>Omnicos directe al desirabilite</td>
							<td></td>
							<td>Custosi traductores</td>
						</tr>
						<tr>
							<th scope="row">Lor separat existentie</th>
							<td></td>
							<td></td>
							<td>Ma quande lingues coalesce</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<hr>
			
			<div class="x6 scroll">
				<table class="table table-border-x">
					<caption>Li Europan lingues es membres del sam familie.</caption>
					<thead>
						<tr>
							<th scope="col">Europan</th>
							<th scope="col">Omnicos</th>
							<th scope="col">Occidental</th>
							<th scope="col">Cambridge</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4">Lor separat existentie es un myth.</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<th scope="row">Pronunciation e plu</th>
							<td>On refusa continuar payar</td>
							<td>Occidental in fact</td>
							<td>On refusa continuar payar</td>
						</tr>
						<tr>
							<th scope="row">Grammatica</th>
							<td>It va esser tam simplic</td>
							<td></td>
							<td>Lor separat existentie</td>
						</tr>
						<tr>
							<th scope="row">Simplic e regulari</th>
							<td>Omnicos directe al desirabilite</td>
							<td></td>
							<td>Custosi traductores</td>
						</tr>
						<tr>
							<th scope="row">Lor separat existentie</th>
							<td></td>
							<td></td>
							<td>Ma quande lingues coalesce</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<hr>
			
			<div class="x6 scroll">
				<table class="table table-border-y">
					<caption>Li Europan lingues es membres del sam familie.</caption>
					<thead>
						<tr>
							<th scope="col">Europan</th>
							<th scope="col">Omnicos</th>
							<th scope="col">Occidental</th>
							<th scope="col">Cambridge</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4">Lor separat existentie es un myth.</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<th scope="row">Pronunciation e plu</th>
							<td>On refusa continuar payar</td>
							<td>Occidental in fact</td>
							<td>On refusa continuar payar</td>
						</tr>
						<tr>
							<th scope="row">Grammatica</th>
							<td>It va esser tam simplic</td>
							<td></td>
							<td>Lor separat existentie</td>
						</tr>
						<tr>
							<th scope="row">Simplic e regulari</th>
							<td>Omnicos directe al desirabilite</td>
							<td></td>
							<td>Custosi traductores</td>
						</tr>
						<tr>
							<th scope="row">Lor separat existentie</th>
							<td></td>
							<td></td>
							<td>Ma quande lingues coalesce</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<hr>
			
			<div class="x6 scroll">
				<table class="table table-border-x table-border-y">
					<caption>Li Europan lingues es membres del sam familie.</caption>
					<thead>
						<tr>
							<th scope="col">Europan</th>
							<th scope="col">Omnicos</th>
							<th scope="col">Occidental</th>
							<th scope="col">Cambridge</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4">Lor separat existentie es un myth.</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<th scope="row">Pronunciation e plu</th>
							<td>On refusa continuar payar</td>
							<td>Occidental in fact</td>
							<td>On refusa continuar payar</td>
						</tr>
						<tr>
							<th scope="row">Grammatica</th>
							<td>It va esser tam simplic</td>
							<td></td>
							<td>Lor separat existentie</td>
						</tr>
						<tr>
							<th scope="row">Simplic e regulari</th>
							<td>Omnicos directe al desirabilite</td>
							<td></td>
							<td>Custosi traductores</td>
						</tr>
						<tr>
							<th scope="row">Lor separat existentie</th>
							<td></td>
							<td></td>
							<td>Ma quande lingues coalesce</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="form-children" class="marker"><div><a href="#form-children"><code>form</code> + children</a></div></h6>
			
			<form class="form" id="fm" name="fm" action="" method="post">
				
				<input type="hidden" name="fm_hidden" value="hidden">
				
				<fieldset>
					
					<legend></legend>
					
					<!--
					<label>Password: <input type="password" name="fm_password" placeholder="&hellip; enter password &hellip;"></label>
					
					<hr>
					-->
					
					<!--
					<label>File: <input type="file" name="fm_file" placeholder="&hellip; choose file &hellip;"></label>
					
					<hr>
					-->
					
					<label>Text: <input type="text" name="fm_text-1" placeholder="&hellip; text &hellip;"></label>
					
					<label>Text: <input type="text" name="fm_text-2" placeholder="&hellip; text &hellip;" disabled></label>
					
					<label>Text: <input type="text" name="fm_text-3" placeholder="&hellip; text &hellip;" value="&hellip; read only &hellip;" readonly></label>
					
					<hr>
					
					<label>
						Select:
						<select name="fm_select">
							<optgroup label="Group 1">
								<option value="Option 1.1">Option 1.1</option>
							</optgroup> 
							<optgroup label="Group 2">
								<option value="Option 2.1">Option 2.1</option>
								<option value="Option 2.2">Option 2.2</option>
							</optgroup>
							<optgroup label="Group 3" disabled>
								<option value="Option 3.1">Option 3.1</option>
								<option value="Option 3.2">Option 3.2</option>
								<option value="Option 3.3">Option 3.3</option>
							</optgroup>
						</select>
					</label>
					
					<hr>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<hr>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<hr>
					
					<label class="x5">Textarea: <textarea name="fm_textarea-1"></textarea></label>
					
					<label class="x5">Textarea: <textarea name="fm_textarea-2" disabled></textarea></label>
					
					<label class="x5">Textarea: <textarea name="fm_textarea-3" readonly>&hellip; read only &hellip;</textarea></label>
					
					<hr>
					
					<a class="button" href="#" onclick="return false;">Link</a>
					
					<a class="button button-disabled" href="#" onclick="return false;">Disabled</a>
					
					<hr>
					
					<button type="button" name="fm_button-1" onclick="return false;">Button</button>
					
					<hr>
					
					<button type="submit" name="fm_button-2" onclick="return false;"><i class="fa fa-check" aria-hidden="true"></i> Submit</button> <button type="reset" name="fm_reset-2"><i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
					
					<hr>
					
					<button type="button" class="button-info" name="fm_button-3" onclick="return false;"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</button>
					
					<button type="button" class="button-success" name="fm_button-4" onclick="return false;"><i class="fa fa-check-circle" aria-hidden="true"></i> Success</button>
					
					<button type="button" class="button-warning" name="fm_button-5" onclick="return false;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Warning</button>
					
					<button type="button" class="button-error" name="fm_button-6" onclick="return false;"><i class="fa fa-times-circle" aria-hidden="true"></i> Error</button>
					
				</fieldset>
				
			</form>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="multimedia" class="marker"><div><a href="#multimedia">Multimedia</a></div></h6>
			
			<h6 class="subtle">YouTube</h6>
			
			<figure class="x6">
				
				<div class="mm tv"><iframe width="420" height="315" src="http://www.youtube.com/embed/R2IJdfxWtPM" frameborder="0" allowfullscreen></iframe></div>
				
			</figure>
			
			<h6 class="subtle">Vimeo</h6>
			
			<figure class="x6">
				
				<div class="mm tv"><iframe width="500" height="281" src="http://player.vimeo.com/video/77361528" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
				
			</figure>
			
			<h6 class="subtle">Soundcloud</h6>
			
			<figure class="x6">
				
				<iframe width="100%" height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/21118334&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
				
			</figure>
			
			
			<h6 class="subtle">HTML5 <code>video</code></h6>
			
			<figure class="x6">
				
				<div class="mm tv">
					<video poster="media/shut-up-wesley.jpg" width="480" height="360" preload="none" controls>
						<source src="./media/shut-up-wesley.webm" type="video/webm">
						<source src="./media/shut-up-wesley.ogv" type="video/ogg">
						<source src="./media/shut-up-wesley.mp4" type="video/mp4">
					</video>
				</div>
				
			</figure>
			
			<h6 class="subtle">HTML5 <code>audio</code></h6>
			
			<figure class="x6">
				
				<audio preload="none" controls>
					<source src="./media/shut-up-wesley.ogg" type="audio/ogg">
					<source src="./media/shut-up-wesley.mp3" type="audio/mpeg">
				</audio>
				
			</figure>
			
			
			<h6 class="subtle">Google Maps</h6>
			
			<figure class="x6">
				
				<iframe width="100%" height="500" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14997.11232137344!2d6.172252950001656!3d47.40814966403837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479285d587633b03%3A0x409ce34b30f1430!2sLa+Barre!5e1!3m2!1sen!2sus!4v1391905310141" frameborder="0" style="border:0"></iframe>
				
				<figcaption><p>Jean-Luc Picard was born to Maurice and Yvette Picard in La Barre, France, on July 13, 2305, and dreamed of joining Starfleet.</p></figcaption>
				
			</figure>
			
		</section>
		
		<hr>
		
		<section>
			
			<h6 id="twitter" class="marker"><div><a href="#twitter">Twitter</a></div></h6>
			
			<p class="x4">
				<a
					class="twitter-timeline"
					href="https://twitter.com/SirPatStew"
					data-widget-id="412449818275901440"
					data-screen-name="SirPatStew"
					width="100%"
					height="650px"
				>
					Tweets by @SirPatStew
				</a>
			</p>
			
		</section>
		
	</main>
	
	<hr>
	
	<footer role="contentinfo">
		
		<a class="jump jump-old" href="#" title="Previous">
			<i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
			<span>Previous</span>
		</a>
		
		<a class="jump jump-new" href="#" title="Next">
			<i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
			<span>Next</span>
		</a>
		
		<ul>
			<li><i class="fa fa-github-alt" aria-hidden="true"></i> <a title="GitHub profile" href="http://github.com/mhulse" target="_blank" rel="nofollow">GitHub</a> (<a title="GitHub stared repositories" href="https://github.com/stars/mhulse" target="_blank" rel="nofollow">Stars</a>, <a title="GitHub gists" href="https://gist.github.com/mhulse" target="_blank" rel="nofollow">Gists</a>)</li>
			<li><i class="fa fa-stack-exchange" aria-hidden="true"></i> <a title="StackExchange activity" href="http://stackexchange.com/users/560173/mhulse" target="_blank" rel="nofollow">StackExchange</a></li>
			<li><i class="fa fa-bookmark" aria-hidden="true"></i> <a title="Pinboard bookmarks" href="https://pinboard.in/u:mhulse" target="_blank" rel="nofollow">Pinboard</a></li>
		</ul>
		
		<p class="boring">
			<small><span>Copyright &copy; <a title="MKY.io" href="http://mky.io">mky.io</a> 2013-14.</span> <span>All rights reserved.</span></small>
			<small class="silly"><a href="http://en.wikipedia.org/wiki/Genetically_modified_organism" target="_blank" rel="nofollow">GMO</a>-, <a href="http://en.wikipedia.org/wiki/Gluten" target="_blank" rel="nofollow">gluten</a>- and <a href="http://getbootstrap.com/" target="_blank" rel="nofollow">Bootstrap</a>-free.</small>
		</p>
		
	</footer>
	
	<!--[if !IE]><!-->
	
	
	<script src="./scripts/jquery.js"></script>
	<script src="./scripts/fastclick.js"></script>
	<script src="./scripts/jquery.bigglesworth.js"></script>
	<script src="./scripts/wwpd.js"></script>
	<script src="./scripts/wwpd.mod.fastclick.js"></script>
	<script src="./scripts/wwpd.mod.scroll.js"></script>
	<script src="./scripts/wwpd.mod.pinterest.js"></script>
	<script src="./scripts/wwpd.mod.disqus.js"></script>
	<script src="./scripts/wwpd.mod.twitter.js"></script>
	<script src="./scripts/wwpd.mod.search.js"></script>
	<script src="./scripts/wwpd.init.js"></script>
	
	<script>
		
		$(document).ready(function() {});
		
		$(window).load(function() {});
		
		$(window).resize(function() {});
		
	</script>
	
	
	
	<!--<![endif]-->
	
	<script>
		(function(p,i,c,a,r,d){p.GoogleAnalyticsObject=a;p[a]||(p[a]=
		function(){(p[a].q=p[a].q||[]).push(arguments)});p[a].a=+new Date;
		r=i.createElement(c);d=i.getElementsByTagName(c)[0];
		r.src='//www.google-analytics.com/analytics.js';
		d.parentNode.insertBefore(r,d)}(window,document,'script','ga'));
		ga('create','UA-46485001-1','mky.io');
		ga('require','displayfeatures');
		ga('require','linkid','linkid.js');
		ga('send','pageview');
	</script>
	
</body>
</html>

